.jumbotron {
    background-color: blue;
    color: white;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: blue;
    margin-bottom: 0px;
    color: white;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.container-btn-reservar {
    padding-right: 10px;
}