.jumbotron {
  background-color: #0f2987;
  color: #dde3f0;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #0f2987;
  margin-bottom: 0px;
  color: #dde3f0;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.container-btn-reservar {
  padding-right: 10px; }
