$yellow: #d2eb34;
$blue: #0f2987;
$white: #dde3f0;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    color: $white;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $blue;
    margin-bottom: 0px;
    color: $white;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.container-btn-reservar {
    padding-right: 10px;
}