@blue: #0f2987;

.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @blue;
    color: #f7f8fa;
    .margenes(50px, 0px);}
  
  footer {
    padding: 10px 10px 0px 10px;
    background-color: @blue;
    margin-bottom: 0px;
    color: #f7f8fa;
    .margenes(10px, 0px)}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px)}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .container-btn-reservar {
    padding-right: 10px; }
  